* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.container {
    color: white;
    width: 50%;
    margin: 0 auto;
}

h1 {
    font-size: 64px;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 12px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.items input{
    font-size: 24px;
    font-weight: 300;
    padding: 10px;
    width: 100%;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}

button {
    width: 200px;
    height: 50px;
    background-color: white;
    font-family: Intern;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
}